div.ToolTip div.ToolTipCreator {
    border-radius: 6px;
    background: #77002e;
    padding: 5px;
    min-width: 75px;
    text-align: center;
    color: White;
    font-size: 75%;
}
  
div.ToolTip { 
    position: relative;
}

div.ToolTipCreator { 
    position: absolute;
}
  