nav {
  display: flex;
  overflow: hidden;
  background-color: #edafb8;
}
  
nav > div.navItem { 
  padding: 10px; 
}

nav > div.navItem:hover { 
  background-color: #f4cdd3; 
}

nav > div.navItem > a { 
  color: White; 
  text-decoration: none; 
}

nav > div.navItem > a.navSelected { 
  color: Black; 
}

@media screen and (max-width: 425px) {
  nav {
    flex-direction: column;
  }
}